.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.nav{
height: 70px;
background-color: #2471A3

;
}

#logoimage {
  width: 90%;
  height: 50px;
  
}

.App-header {
  background-color: #5d7199;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

/* login logout From css */

/* #c1{
  background-color: white;
  box-shadow: 0px 0px 15px -5px black;
  border-radius: 8px;
} */

/* home page */
/* .home{
  box-shadow: 10px 10px 3px #ccc;
  height: 100%;
  width: 100%;
} */
#text
{
  color: #ffffff;
  font-size:20px;
}

/* Logo */

.logo{
    color: #fff;
    width: 100px;
    height: 30px;
}

#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background-size: cover;
}
#bgimg {
  position: fixed;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}


/* Login Signin  */
.login{
  width: 100%;
  height: 100%;
}

.signin{
  width: 100%;
    height: 100%;
  
}
#btn {
     margin-left: 8px;
     background-color: #101211
}





