/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.search-hero {
    max-width:100%;
    // padding-bottom: 10px;
    margin:auto;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  .data-selected {
    background-color: red;
  }
  .navbar{

    background: linear-gradient(to right top, #e87fba, #dd88c9, #d191d4, #c499de, #b7a1e4, #a9abec, #9cb5f1, #92bef2, #8acbf2, #8dd6ef, #99e0e9, #abe8e4);
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 6px;
    border-radius: 17px;

}


.btn
{
  margin-left:1px;
}
